.container {
    width: 100%;
    margin-top: 10px;

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        // width: 890px;
    
        .nav {
            display: flex;
        }
        
        .ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}

.page-link {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      border: 1px solid white;
      color: white;
    }
  }
  
  .page-link:hover {
    transition: .2s ease;
    border: 1px solid white;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(255, 255, 255);
  }
  
  .page-item.disabled .page-link {
    opacity: 0.5;
    cursor: not-allowed;
    /* pointer-events: none; */

    @media screen and (max-width: 768px) {
      color: white;
    }
  }

  .page-item.disabled .page-link:hover {
    border: 1px solid black;
    box-shadow: none;
  }
  
  .page-item__number {
    cursor: default;
  }
  
  .page-number {
    font-size: 18px;
    margin: 0 20px;

    @media screen and (max-width: 768px) {
      color: white;
    }
  }