// COLOR //
$buttonColor: #4F4F50;
$buttonActiveColor: #6d6d6df0;


$white: #ffffff;
$white1: #f0f0f0f0;
$white2: #e0e0e0f0;

$black: #000000;
$black1: #252525;

$bgColor: #47a0ff;
$bgColor1: #007bff;


// FONT //
$mainFont: 'Source Code Pro';